[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# Unity user-specific settings (ignore only the user file)
ProjectSettings/EditorUserSettings.asset

# But keep the rest of UserSettings
# (DON'T ignore entire UserSettings)

# Visual Studio / Rider / VSCode
.vscode/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/

# OS trash
.DS_Store
Thumbs.db

# Crash reports
*.dmp

# Plastic SCM cache
.plastic/
